<div class="genre-container">
  <div class="genre-row">
    <button class="genre-button genre1" [routerLink]="['/genre', 1]">ACTION</button>
    <button class="genre-button genre2" [routerLink]="['/genre', 2]">ADVENTURE</button>
    <button class="genre-button genre3" [routerLink]="['/genre', 3]">ANIMATION</button>
  </div>
  <div class="genre-row">
    <button class="genre-button genre4" [routerLink]="['/genre', 4]">COMEDY</button>
    <button class="genre-button genre5" [routerLink]="['/genre', 5]">CRIME</button>
    <button class="genre-button genre6" [routerLink]="['/genre', 6]">DRAMA</button>
  </div>
  <div class="genre-row">
    <button class="genre-button genre7" [routerLink]="['/genre', 7]">FANTASY</button>
    <button class="genre-button genre8" [routerLink]="['/genre', 8]">HORROR</button>
    <button class="genre-button genre9" [routerLink]="['/genre', 9]">MYSTERY</button>
  </div>
  <div class="genre-row">
    <button class="genre-button genre10" [routerLink]="['/genre', 10]">ROMANCE</button>
    <button class="genre-button genre11" [routerLink]="['/genre', 11]">SCI-FI</button>
    <button class="genre-button genre12" [routerLink]="['/genre', 12]">THRILLER</button>
  </div>
</div>
